<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="MySQLConn" value="server=HN-FactoryDB;User ID=appdba;Password=App1qaz!QAZ;database=hnplclogdb;"/>
    <!--PLC服务的IP地址-->
    <add key="StockServerIP" value="127.0.0.1" />
    <!--PLC服务的端口-->
    <add key="StockServerPort" value="1510" />
    <!--Modbus配置-->
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="502"/>
    <add key="SocketTimeOut" value="1000"/>
    <add key="StartingAddress" value="1"/>
  </appSettings>
</configuration>